.mainECGArea {
   img:hover {
      cursor: pointer;
      transition: all ease .75s;
      opacity: .75;
   }

   .banner-ecg {
      background-color: var(--dark-blue);
      height: 235px;

      .banner-ecg-area img {
         width: 294px;
         margin-top: 160px;
      }
   }

   .banner-ecg-img {
      @extend .f;
      justify-content: flex-end;

      img {
         width: 1254px;
         position: relative;
         margin-top: -235px;
      }
   }

   .ecgArea {
      // border: 1px solid red;

      padding: 64px 295px 0px 295px;

      .ecg-title {
         p {
            &:nth-child(1) {
               font-size: 14px;
               color: var(--light-gray);
            }

            &:nth-child(2) {
               font-size: 40px;
               font-weight: lighter;
               color: var(--dark-blue);
            }
         }
      }

   }

   .ecg-text {
      @extend .flex, .column;

      p {
         @extend .ns-container;
         

         &:nth-last-child(1) {
            margin-top: 34px;
         }
      }

      .ecg-values {
         img {
            // border: 1px solid rebeccapurple;
         }

         @extend .f;
         justify-content: space-between;
         padding: 64px 0;
      }
   }

   .nossos-compromissos {
      @extend .f, .column;
      background-color: var(--dark-blue);
      padding: 64px 0;

      .ns-title {
         @extend .flex;
         font-size: 30px;
         // border: 1px solid rebeccapurple;

         p {
            @extend .ns-container;

            // border: 1px solid red;
         }
      }

      .ns-paineis {
         @extend .f;
         margin-top: 32px;
         // border: 1px solid rebeccapurple;

         justify-content: flex-start;
         width: 1254px;

         img {
            width: 50%;
            position: relative;
         }
      }

      .ns-ambiental-area {
         @extend .flex;


         p {
            color: var(--white);
            font-size: 16px;
         }

         .ns-ambiental {
            @extend .ns-container;
            
            padding-top: 40px;
            
            border-top: 4px solid var(--light-blue);

            .ns-ambiental-title p {
               @extend .title;
            }

            .ns-ambiental-desc {
               @extend .f;
               gap: 42px;
               margin-top: 24px;
               // border: 1px solid green;

               span p:nth-child(1) {
                  margin-bottom: 24px;
               }
            }
         }
      }

      .ns-social-area {
         @extend .flex;

         .ns-social {
           @extend .ns-container;

            p {
               @extend .title;
            }

            .ns-social-imgs {
               @extend .f;
               // justify-content: flex-start;
               // width: 1254px;

               img {
                  width: 50%;
                  position: relative;
                  // margin-top: -235px;
               }
            }

            .ns-social-desc  p{
               @extend .ns-p-white;
            }

         }
      }

      .ns-governanca-area {
         @extend .flex;

         .ns-governanca {
            @extend .ns-container;
            
            img {
               width: 50%;
            }
            
            .ns-governanca-desc {
               @extend .ns-p-white; 

               border-top: 4px solid var(--light-blue);
               padding-top: 40px;
               margin-top: 0px !important;
            }

            .ns-governanca-title p {
               @extend .title;
            }
         }
      }
   }

   .indices-area {
      @extend .flex, .column;
      .indices {
         @extend .ns-container;
         
         .indices-title {
            @extend .title;
         }

         .indices-imgs {
            @extend .f, .sbt;
            margin-top: 32px;
         }
      }

   }
}

.title,
%title {
   font-size: 26px;
   margin-bottom: 24px;
   color: var(--light-blue);
}

.ns-container, %ns-container {
   width: 1068px;
}

.ns-p-white, %ns-p-white {
   color: var(--white);
   font-size: 16px;
   margin-top: 24px;

   p {
      margin-bottom: 24px;
   }
}

@media (max-width: 393px) {
  .mainECGArea {
      width: 100%;
      
      .banner-ecg .banner-ecg-area  {
         width: 100%;
         // border: 1px solid red;
         padding: 0 16px;
         // height: 140px;

         .banner-ecg-area img {
            margin-top: 160px;
         }
      }

      .banner-ecg-img {
         img {
            padding: 0 16px;
            width: 100%;
   
            position: static;
            width: 100%;
            height: 150px;
            background-size: cover;
         }
      }

      .ecgArea {
         // border: 1px solid blue;
         padding: 24px 16px;

         .ecg-title {
            width: 100%;

            p:nth-child(2) {
               font-size: 28px;
               // border: 1px solid blue;
            }
         }
      }

      .ecg-text {
         // border: 1px solid red;
         width: 100%;
         margin: 0;
         padding: 0px 16px;
         
         p {
            width: 100%;
            // border: 1px solid gold;
            flex-wrap: wrap;
            margin-bottom: 24px;
         }

         .ecg-values {
            // border: 1px solid red;
            padding: 24px 0 48px 0;
            width: 100%;
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
         }
      }

      .nossos-compromissos {
         .ns-title {
            padding-left: 8px;
         }

         padding: 32px 16px;
         width: 100%;

         .ns-paineis {
            width: 100%;
            flex-direction: column;

            img{
               width: 100%;
            }
         }

         .ns-ambiental-area, .ns-social-area, .ns-governanca-area, .indices-area {
            // border: 1px solid red;
            width: 100%;

            .ns-ambiental, .ns-social, .ns-governanca, .indices {
               width: 100%;
               padding: 24px 8px 0;
            }

            .ns-ambiental-desc, .ns-social-imgs, .ns-social-desc {
               flex-direction: column;
            }
         }

         .ns-social-imgs, .ns-governanca-img {
            width: 100%;
            flex-direction: column;

            img {
               width: 100% !important;
            }
         }

      }

      .indices-area {
         // border: 1px solid red;
         padding: 32px 16px;
         width: 100%;
         flex-wrap: wrap;

         .indices  {
            width: 100%;

            .indices-imgs {
               // border: 1px solid blue;
               display: flex;
               width: 100%;
               gap: 16px;
               align-items: center;
               justify-content: center;
               flex-wrap: wrap;

               img {
                  width: 47%;
               }
            }
         }
         
      
      }
  }
}