.investors-areas {
   @extend .containerArea;

   gap: 40px;

   img:hover {
      cursor: pointer;
      transition: all ease .75s;
      opacity: .75;
   }

   p {
      font-size: 40px;
      font-weight: lighter;
   }
   
   a {
      font-size: 16px;
      text-decoration: underline;
   }

   .investors-results img{
      padding-bottom: 16px;
   }

   .investors-calender {
      height: 200%;
   }

}

@media (max-width: 393px) {
   .investors-areas {
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .investors-results {
         border: 1px solid blue;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;

         .investors-results-boxers {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid red;

            flex-wrap: wrap;

            img {
               width: 150px;
            }
         }
      }

      .investors-calender {
         border: 1px solid blue;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;

         p.text-dark-blue {
            font-size: 29px;
            margin-bottom: 32px;
            border: 1px solid blue;
         }
      }
   }
}