header {
   background-color: var(--dark-blue);
}

.text-white {
   color: var(--white);
}

.text-light-blue {
   color: var(--light-blue)
}

.text-dark-blue {
   color: var(--dark-blue)
}

.header-right {
   font-size: 16px;
}