header {
   background-color: var(--dark-blue);

   img:hover {
      transition: all ease .75s;
      cursor: pointer;
      opacity: .75;
   }
}

.text-white {
   color: var(--white);
}

.text-light-blue {
   color: var(--light-blue)
}

.text-dark-blue {
   color: var(--dark-blue)
}

.header-right {
   font-size: 16px;
}

.header-mobile {
   display: none;
}

@media (max-width: 393px) {

   .header-left,
   .header-left-box,
   .header-right {
      display: none;
   }

   header {
      // border: 1px solid red;

   }

   .header-mobile {
      // border: 1px solid green;
      width: 100%;
      display: flex;
      justify-content: space-between;

      img {
         height: 40px;
      }
   }

   .containerArea,
   .investors-areas {
      padding: 24px 16px;
   }
}