.footer {
   @extend .flex, .sbt;
   
   background-color: var(--dark-blue);
   color: var(--white);
   font-size: 14px;
   padding: 16px 75px;

   img {
      cursor: pointer;
      transition: all ease .75s;
      opacity: .75;
   }
}

@media (max-width: 393px) {
   .footer {
      padding: 16px;
      // border: 2px solid red;
      flex-direction: column;

      .footer-Area01, .footer-Area02 {
         width: 100%;
         flex-direction: column;
         // border: 1px solid green;

         p {
            // @extend .flex;
            width: 100%;
            // border: 1px solid goldenrod;
   
            margin-bottom: 8px;
            text-align: center;

            
         }
      }

      .footer-Area02 {
         p:nth-last-child(1) {
            margin-bottom: 0;
            // border: 1px solid red;
         }
      }
   }
}