.downloadItem {
   @extend .flex;
   border-bottom: 1px solid var(--light-gray);

   p {
      @extend .flex, .sbt, .w-100;
      padding: 8px 0;
      font-size: 16px;

      span {
         @extend .flex
      }

      span.downloadDate{
         color: var(--light-gray);
      }
   }
}

@media (max-width: 393px) {
   .downloadItem {
      .downloadContent:nth-child(1) {
         display: flex;
         padding-top: 8px;
         justify-content: flex-start;
         align-items: flex-start;
         flex-direction: column;
         gap: 8px;
      } 
   }
}